<template name="Admin">
    <h1>Panel des admins</h1>

  	<form id="formUser">
  		<input type="text" name="name" id="name" placeholder="Nom">
  		<input type="text" name="identify" id="identify" placeholder="Identifiant">
  		<button type="submit">Créer</button>
  	</form>

  	<table>
  	   <tr>
  	       <th>Nom</th>
  	       <th>Identifiant</th>
  	       <th>ChannelID</th>
  	       <th>Modification</th>
  	   </tr>
  		{{#each users}}
  			{{> user}}
  		{{/each}}
  	</table>
  </template>

  <template name="user">
  	<tr>
         <td>{{name}}</td>
         <td>{{identify}}</td>
         <td>{{channelId}}</td>
         <td><!-- <a href="#">Modifier</a> --> <a data-id="{{identify}}" id="remove_fields" href="#">Supprimer</a></td>
     	</tr>
</template>
