<template name="Carousel">
    <div class='pagewrap'>
        <div class='pageblock' id='fullscreen'>
            <div class='slider'>
                <div class='slide' id="first">
                </div>
                <div class='slide' id="sec">
                </div>
                <div class='slide' id="thirth">
                </div>
            </div>
        </div>
    </div>
</template>
