<template name="Features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-4 feature-1">
                    <div class="feature-icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="feature-content">
                        <h1>Connectez</h1>
                        <p>Votre Tweetpulse à Internet, c’est simple et rapide.
Que ce soit sur votre bureau ou en déplacement, partout où il y a du wifi tweetpulse vous accompagne. </p>
                    </div>
                </div>

                <div class="col-md-4 feature-2">
                    <div class="feature-icon">
                        <i class="fa fa-flash"></i>
                    </div>
                    <div class="feature-content">
                        <h1>Ecoutez</h1>
                        <p>Tout ce qui se dit sur votre marque, les réponses à votre compte, un sujet chaud en particulier :
Plus besoin de passer son temps devant un écran, Tweetpulse le fait pour vous !</p>
                    </div>
                </div>

                <div class="col-md-4 feature-3">
                    <div class="feature-icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="feature-content">
                        <h1>Soyez avertis</h1>
                        <p>De toute montée anormale des volumes de messages :
Le “Bad Buzz” gronde ? Ou à l’inverse un article vous ramène des centaines de commentaires positifs ? Quand Twitter s’enflamme, soyez le premier averti.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
