<template name="Intro">
    <div class="container">
        {{> HeaderConnexion}}
        <div class="row">
            <div class="wrap col-md-12">
                <h1>Voici TweetPulse</h1>
                <div class="description">
                    <h3>La boîte qui écoute Twitter à votre place</h3>
                </div>
                <img class="item" src="/img/robot.png" alt="Commande le !">
                <div class="button">
                    <button class="btnBlue buy-tp-bt">Commande le !</button>
                    <a class="btnEmpty hiw-bt">Comment ça marche ? <i class="fa fa-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</template>
