<template name="SubscribeMailChimp">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Un peu de patience,<br/>
                TweetPulse sera bientôt dispo !</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <form id="formContact" class="simform" autocomplete="off">
                    <div class="simform-inner">
                        <ol class="questions">
                            <li>
                                <div>
                                    <input class="email" type="email" placeholder="email@example.com" />
                                    <button class="subscribe" type="button">Subscribe</button>
                                    {{#if message}}
                                        <p class="message">{{{message}}}</p>
                                    {{/if}}
                                </div>
                            </li>
                        </ol>
                    </div>
                </form>
                <p class="small">On vous écrira pour parler de tweetpulse et rien d'autre promis.</p>
            </div>
        </div>
    </div>
    {{> Footer}}
</template>
