<template name="DashboardTips">
    <a class="cd-popup-trigger blue underline">(Consulter les tips)</a>

    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
            <h3>Tips recherche :</h3>
            <ul class="tips">
                <li>Utilisation des connecteurs de logiques: 'the twitter’ est the ET twitter, et ‘the,twitter’ est the OU twitter</li>
                <li>Une expression doit-être compris entre <span class="strong red">1 à 60 </span> caractères</li>
                <li><span class="strong red">Attention</span> écrire "Salut." est different de "Salut". Les ponctuations sont prises en compte</li>
            </ul>
            <ul class="cd-buttons">
                <li><a id="cancel" href="">Compris !</a>
                </li>
            </ul>
            <a class="cd-popup-close img-replace" href=""></a>
        </div>
        <!-- cd-popup-container -->
    </div>
    <!-- cd-popup -->
</template>
