<!-- TODO REGLER LE DESIGN-->
<template name="DashboardOptions">
    <span><a class="cd-popup-trigger blue underline">Options</a></span>

    <div class="cd-popup cd-popup-option" role="alert">
        <div class="cd-popup-container">
                <h3>VOTRE TWEETPULSE EST PLUTÔT :</h3>
                <br>
                <div class="type">
                    <input id="Laxiste" name="radio" type="radio" value="laxiste" />
                    <label for="Laxiste">Laxiste</label><br>
                    <label id="descript" for="Laxiste">Il alerte autour de 5 tweets/minute​</label>
                    <br>
                </div>
                <div class="type">
                    <input id="Curieux" name="radio" type="radio" value="curieux" checked="checked" />
                    <label for="Curieux">Curieux (Par défault)</label><br>
                    <label id="descript" for="Curieux">Il alerte autour de 1 tweet/minute​</label>
                    <br>
                </div>
                <div class="type">
                    <input id="Parano" name="radio" type="radio" value="parano" />
                    <label for="Parano">Parano</label><br>
                    <label id="descript" for="Parano">Il alerte dès 1 tweet/heure</label>
                    <br>
                </div>
                <div class="type">
                    <input id="Personnalise" name="radio" type="radio" value="perso" />
                    <label for="Personnalise">Personnalisé</label><br>
                    <label id="descript" for="Personnalise">Alerter dès
                        <input type="number" id="pulse-level-tweet"> tweets/
                        <select class="cs-select cs-skin-elastic" id="pulse-level-time" name="pulse-level">
                            <option value="m" selected="selected">minute</option>
                            <option value="h">heure</option>
                            <option value="d">jour</option>
                        </select>
                      </label>
                    <br>
                </div>
            <ul class="cd-buttons">
                <li><a id="cancel" class="cd-popup-cancel-login" href="">Annuler</a>
                </li>
                <li><a id="send" class="cd-popup-confirm" href="">Configurer</a>
                </li>
            </ul>
            <a class="cd-popup-close cd-popup-close-login img-replace" href=""></a>
        </div>
        <!-- cd-popup-container -->
    </div>
    <!-- cd-popup -->
</template>
