<template name="DashboardCounter">
    <div class="container dashCount">
       <div class="header">
            {{> HeaderConnexion}}
        </div>
        <div class="row">
            <section id="count" class=" col-md-12">
                <h1>Votre recherche #{{expression}} génère :</h1>
                <p><span class="num">{{tweets}}</span> Tweets</p>
                <p>en <span class="num hour">0</span> heure <span class="num min">0</span> min</p>
                <a class="search">Nouvelle recherche</a>
            </section>
        </div>
    </div>
</template>
<template name="loader">
   {{#if loading}}
        <p class="saving">Un peu de patience<span>.</span><span>.</span><span>.</span></p>
    {{/if}}
</template>

<template name="message">
    <li>{{expression}}</li>
</template>
