<template name="Home">
    <section id="intro" class="cd-section">
        {{> Intro}}
    </section>
    <section id="carousel" class="cd-section">
        {{> Carousel}}
    </section>
    <section id="feature" class="features-list">
        {{> Features}}
    </section>
    <section id="contact" class="cd-section">
        {{> SubscribeMailChimp}}
    </section>
</template>
