<template name="Footer">
    <!--<div class="footer">
        <div class="container">
            <div class="row bottomBad">
                <div class="col-md-6 col-sm-6 col-xs-6 text-right white">
                    <p class="quote">Une idée de l'agence</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <a href="http://www.uzful.fr"><img class="Uzful img-responsive" src="/img/Uzful.png" alt="logo uzful"></a>
                </div>
            </div>
        </div>
    </div>-->

    <div class="footer">
        <div class="container">
            <div class="row bottomBad">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center white">
                    <ul>
                        <li id="first">
                            <p class="quote">Une idée de l'agence</p>
                        </li>
                        <li id="second">
                            <a href="http://www.uzful.fr"><img class="Uzful" src="/img/Uzful.png" alt="logo uzful">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
