<template name="RegisterTP">
    <span>Vous avez un TweetPulse ? <a class="cd-popup-trigger blue underline">Connectez-vous</a></span>

    <div class="cd-popup cd-popup-login" role="alert">
        <div class="cd-popup-container">
                <h3>Entrez l'identifiant de votre Objet co :</h3>
                    {{> RegisterTips}}
                <br>
                <input type="text" id="identify" value="" placeholder="Entrer l'identifiant" autofocus/>
            <ul class="cd-buttons">
                <li><a id="cancel" class="cd-popup-cancel-login" href="">Annuler</a>
                </li>
                <li><a id="co" href="">Se connecter</a>
                </li>
            </ul>
            <a class="cd-popup-close cd-popup-close-login img-replace" href=""></a>
        </div>
        <!-- cd-popup-container -->
    </div>
    <!-- cd-popup -->
</template>
