<template name="RegisterTips">
    <a href="#" class="cd-popup-trigger cd-popup-tipsid">Un identifiant ? Où ça ?</a>

      <div class="cd-popup cd-popup-idTips" role="alert">
        <div class="cd-popup-container">
            <h3>Tips pour avoir son identifiant :</h3>

            <ul class="cd-buttons">
                <li><a id="cancel" class="cancel-idTips" href="">Compris !</a>
                </li>
            </ul>
            <a class="cd-popup-close cd-popup-close-idTips img-replace" href=""></a>
        </div>
        <!-- cd-popup-container -->
    </div>
    <!-- cd-popup -->

</template>
