<template name="AdminLogin">
      <a class="cd-popup-trigger">login admin</a>

      <div class="cd-popup is-visible" role="alert">
          <div class="cd-popup-container">
              <h2>Admin ?</h2>
              <input type="text" id="name" value="" placeholder="Entrer votre nom" autofocus/>
              <br>
              <br>
              <input type="password" id="pwd" value="" placeholder="Entrer le mot de passe" />
              <ul class="cd-buttons">
                  <li><a id="cancel" href="">Annuler</a>
                  </li>
                  <li><a id="co" href="">Se connecter</a>
                  </li>
              </ul>
          </div>
          <!-- cd-popup-container -->
      </div>
</template>
