<template name="HeaderConnexion">
    <div class="row header-connexion-wrapper">
          <div class="connexion text-right">
              {{#if currentUser}}
              <a id="HerDashboard">Mon dashboard</a> | {{> DashboardOptions}} | <a id="logout" class="blue underligne">Déconnexion</a> {{else}} {{ > RegisterTP }} {{/if}}
          </div>
      </div>
</template>
