/* Import bourbon */
/*@import "packages/andrewliebchen:meteor-bourbon/bourbon";*/
/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
@font-face {
    font-family: "MontSerra";
    src: url('/fonts/MontSerratBold.ttf');
}

@font-face {
    font-family: "questrial";
    src: url('/Questrial.ttf');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'icomoon';
    src: url('/fonts/icomoon/icomoon.eot?-9heso');
    src: url('/fonts/icomoon/icomoon.eot?#iefix-9heso') format('embedded-opentype'), url('/fonts/icomoon/icomoon.woff?-9heso') format('woff'), url('/fonts/icomoon/icomoon.ttf?-9heso') format('truetype'), url('/fonts/icomoon/icomoon.svg?-9heso#icomoon') format('svg');
}
/* Color default */

$background-white: #F5F5F5;
$font-color-grey: #b0b0b0;
$font-color-black: #333333;
$blue: #33ccff;
$blueDark: #25a1ff;
.blue {
    color: $blue;
}

.white {
    color: white;
}

.red {
    color: red;
}
/*Style font*/

.strong {
    font-weight: bold;
}
/* BUTTON */

@mixin btn() {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    z-index: 0;
    background: $blue;
    color: #fff;
    box-shadow: 0 6px $blueDark;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
    padding-right: 45px;
    padding-left: 45px;
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    &:hover {
        box-shadow: 0 4px $blueDark;
        top: 2px;
        background-color: $blue;
        color: #fff;
    }
    &:active {
        box-shadow: 0 0 $blueDark;
        top: 6px;
        background-color: $blue;
        color: #fff;
    }
    &:focus {
        background-color: $blue;
        outline: inherit;
        color: #fff;
    }
}

.btnBlue,
.save,
.search {
    @include btn();
}

.btnEmpty {
    display: inline-block;
    padding: 23px 25px;
    border: 2px solid $blue;
    border-radius: 3px;
    color: $blue;
    font-size: 16px;
    &:hover, &:focus {
        border-color: $blueDark;
        color: $blueDark;
        text-decoration: none;
    }
}
/* COMMUN */

html,
body {
    margin: 0;
    padding: 0;
    font-family: "questrial", Arial, Verdana;
    font-size: 100%;
    height: 100%;
    background-color: $background-white;
    /*width: 1855px;*/

    color: #222222;
}

body.hidden {
    overflow: hidden;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'MontSerra';
    font-weight: 700;
}

a {
    cursor: pointer;
}

.small {
    font-size: small;
}

.underligne {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

section {
    position: relative;
    min-height: 100%;
    width: 100%;
}

.cd-section {
    min-height: 100%;
    position: relative;
    padding: 0em 0;
}

.error {
    border: 1px solid red;
}

.row {
    margin-right: 0;
}
/* NAV */
/*#header {
    min-height: 44px;
    z-index: 233;
    right: 0;
    top: 0;
    .nav {
        margin: 1.75em 3em 0 0;
            33px 50px 0 0

        .cd-popup-trigger {
            cursor: pointer;
            color: $blue;
            text-decoration: underline;
        }
    }
}*/
/* Party Intro */

#intro {
    min-height: 0;
    background-color: $background-white;
    text-align: center;
    padding: 17px 0 17px 0;
    /*    .container {
        position: relative;
    }*/

    .wrap {
        margin-top: 126px;
        margin-bottom: 126px;
    }
    h1 {
        font-size: 3em;
        margin: 0 0 45px 0;
        line-height: 0;
    }
    img:hover {
        cursor: pointer;
    }
    .description h3 {
        font-size: 26px;
        color: $font-color-grey;
    }
    .connexion {
        margin-right: 10px;
    }
    img.item {
        margin: 23px 0;
        width: 342px;
    }
    /* TOOLTIPS */
    /*.tooltip {
        font-family: 'Gochi Hand';
        z-index: 999;
        img {
            width: 23em;
        }
        .tooltip-content {
            position: absolute;
            background: #e35583;
            z-index: 9999;
            width: 190px;
            bottom: 67%;
            margin-bottom: -1em;
            padding: 20px;
            border-radius: 20px;
            font-size: 1.1em;
            text-align: center;
            color: #fff;
            opacity: 0;
            cursor: default;
            pointer-events: none;
            font-family: 'Gochi Hand', cursive;
            -webkit-font-smoothing: antialiased;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
        }
        .tooltip-content {
            right: 64em;
            -webkit-transform-origin: calc(100% + 2em) 50%;
            transform-origin: calc(100% + 2em) 50%;
            -webkit-transform: translate3d(0, 50%, 0) rotate3d(1, 1, 1, -30deg);
            transform: translate3d(0, 50%, 0) rotate3d(1, 1, 1, -30deg);
             ARROW

            &::before, &::after {
                content: '';
                position: absolute;
                left: 99%;
            }
            &::before {
                height: 100%;
                width: 3em;
            }
            &::after {
                width: 2em;
                height: 2em;
                top: 50%;
                margin: -1em 0 0;
                background: url(img/tooltip2.svg) no-repeat center center;
                background-size: 100%;
            }
            &::after {
                -webkit-transform: scale3d(-1, 1, 1);
                transform: scale3d(-1, 1, 1);
            }
        }
        &:hover .tooltip-content {
            opacity: 1;
            -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 0, 0);
            transform: translate3d(0, 50%, 0) rotate3d(0, 0, 0, 0);
            pointer-events: auto;
        }
    }*/
    /*.button {
        position: fixed;
        width: 100%;
        z-index: 9;
    }*/
    /* MEDIA QUERIES */
    /*@media only screen and (max-width: 30em) {}*/
    /*    @media only screen and (min-width: 30em) and (max-width: 44.75em) {
        .tooltip {
            img {
                width: 10%;
            }
        }
    }
    @media only screen and (min-width: 44.75em) and (max-width: 60em) {
        .tooltip {
            img {
                width: 30%;
            }
        }
    }*/
}

#feature {
    min-height: 0;
}

.features-list {
    padding: 60px 0;
}

.features-list h1 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #24374b;
    font-size: 20px;
}

.features-list p {
    margin-bottom: 20px;
    color: #778899;
}

.feature-content {
    display: inline-block;
    margin-left: 0;
    width: 65%;
}

.feature-icon {
    display: inline-block;
    margin-right: 25px;
    width: 90px;
    height: 90px;
    border: solid 2px #4e9ba3;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
}

.feature-icon i {
    color: #4e9ba3
}
/* Party Carousel */

#carousel {
    display: inline;
    h1 {
        font-family: Helvetica, Arial, Verdana;
        font-weight: normal;
        font-size: 92px;
        color: #222222;
    }
    .pagewrap {
        height: 50%;
    }
    .pageblock {
        width: 100%;
    }
    .pagewrap .copy {
        font-size: 10px;
        bottom: 20px;
        left: 30px;
        z-index: 100;
        position: absolute;
        color: white;
    }
    .pagewrap .copy a,
    .pagewrap .copy a:hover {
        color: white;
    }
    .pageblock#fullscreen {
        height: 100%;
        background: none;
        color: white;
    }
    .pageblock#fullscreen h1 {
        color: white;
        font-size: 72px;
        margin: 0;
        padding: 0;
        font-family: 'sxehwcmaax-blackblack', Helvetica, Arial, Verdana;
        font-weight: normal;
    }
    .pageblock#fullscreen .slider {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .pageblock#fullscreen .slider .slide {
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        float: left;
        position: absolute;
    }
    .pageblock#fullscreen .slider .slide .slidecontent {
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -150px;
        text-align: center;
    }
    .pageblock#fullscreen .slider .slide .slidecontent h1 {
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        font-weight: bold;
        font-size: 120px;
        margin: 20px 0 30px 0;
        padding: 0;
        line-height: 115px;
    }
    .pageblock#fullscreen .slider .slide .slidecontent .headersur {
        font-size: 30px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        color: #f0f0f0;
        font-style: italic;
        display: block;
    }
    .pageblock#fullscreen .slider .slide .slidecontent .button {
        @include btn();
    }
    .pageblock#fullscreen .slider .slide .slidecontent .buttonPlus a,
    .pageblock#fullscreen .slider .slide .slidecontent .buttonPlus a:hover {
        text-decoration: none !important;
        color: white;
    }
    .pageblock#fullscreen .slider .slide .slidecontent .buttonPlus:hover {
        background: rgba(0, 0, 0, .3);
    }
    .pageblock#fullscreen .slider .slide .slidecontent .buttonPlus {
        padding: 10px 25px;
        border: 3px solid white;
        text-transform: uppercase;
        background: transparent;
        background: rgba(0, 0, 0, .2);
        color: white;
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
        letter-spacing: 1px;
        margin: 20px 0;
        line-height: 20px;
    }
    .pageblock#fullscreen .slider .slide .slidecontent .text {
        width: 900px;
        margin: 0 auto;
        line-height: 28px;
    }
    .pageblock#fullscreen .slider .slide .slidecontent .text a {
        color: white;
        text-decoration: underline;
    }
    .pageblock#fullscreen .slider .slide .slidecontent .text a:hover {
        text-decoration: none;
    }
    .pageblock#fullscreen .slider .slide .slidecontent .text xmp {
        font-size: 13px;
        text-align: left;
        border: 1px solid white;
        background: rgba(0, 0, 0, 0.1);
        padding: 10px 15px;
    }
    .pageblock#fullscreen #slideposition {
        position: absolute;
        bottom: 50px;
        left: 50%;
        z-index: 500;
    }
    .pageblock#fullscreen #slideposition ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .pageblock#fullscreen #slideposition ul li.indicator {
        display: inline-block;
        height: 10px;
        width: 10px;
        background: #222;
        margin: 0px 7px;
        padding: 0;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        overflow: hidden;
        cursor: pointer;
    }
    .pageblock#fullscreen #slideposition ul li.indicator.active {
        background: white;
    }
    //Dots
    #slideposition li.indicator {
        background-color: rgba(255, 255, 255, 0.3)!important;
        -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    #slideposition li.indicator:hover,
    #slideposition li.indicator:focus {
        background-color: white!important;
    }
    #slideposition li.active {
        background-color: white!important;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
/* Party Contact */

#contact {
    background-color: $blue;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 13%;
    position: relative;
    //height: 100%;
    color: white;
    font-size: 16px;
    min-height: 0;
    /* .container {
        transform: translate(0px, 50%);
    }*/

    h1 {
        font-size: 3em;
        line-height: 1.1;
    }
    /* .message {
            display: none;
        }*/

    .simform {
        position: relative;
        margin: 0 auto;
        max-width: 760px;
        width: 100%;
        text-align: left;
        font-size: 2.5em;
    }
    .simform .subscribe {
        visibility: hidden;
    }
    input {
        display: block;
        margin: 0.3em 0 0 0;
        padding: 0.5em 1em 0.5em 0.7em;
        width: calc(100% - 2em);
        border: none;
        color: rgba(0, 0, 0, 0.8);
        font-size: 1em;
        line-height: 1;
        opacity: 1;
    }
    input[type="email"] {
        height: inherit;
        transition: none;
        box-shadow: none;
    }
    input:focus,
    .simform button:focus {
        outline: none;
    }
    .subscribe {
        position: absolute;
        right: 0;
        bottom: 0.15em;
        /* padding-bottom of form plus progress bar height */

        color: $blueDark;
        display: block;
        padding: 0;
        width: 2em;
        height: 2em;
        border: none;
        background: none;
        text-align: center;
        /*opacity: 0;*/

        z-index: 100;
        cursor: pointer;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    button {
        font-family: inherit;
        font-size: 100%;
    }
    .subscribe::after {
        position: absolute;
        visibility: visible;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "\e600";
        text-transform: none;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        font-family: 'icomoon';
        line-height: 2;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .simform ol {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        -webkit-transition: height 0.4s;
        transition: height 0.4s;
    }
    .simform ol:before {
        content: '';
        background-color: white;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2.35em;
    }
    li {
        z-index: 100;
        position: relative;
        visibility: visible;
        height: auto;
        border-bottom: 5px solid $blueDark;
    }
    & p {
        margin: 3px 0 0 0;
    }
    p.message {
        position: absolute;
        margin-top: 30px;
        font-size: xx-large;
        color: crimson;
    }
    .footer {
        /*min-height: 0px;
    margin: -4em 0 0 0;

    bottom: 5%;*/

        top: 83%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        ul {
            list-style-type: none;
        }
        .white li {
            border-bottom: 0px solid transparent;
            position: static;
        }
        p.quote {
            font-size: 25px;
            margin-top: 36px;
            /*float: right;*/
        }
        .beer,
        .Uzful {
            background: url('/img/sprites.png') no-repeat;
        }
        .beer {
            background-position: 0 0;
            width: 12%;
            height: 12%;
        }
        .Uzful {
            background-position: 0 -800px;
            width: 8%;
            height: 12%;
            margin-top: 0;
            margin-left: -24px;
        }
    }
}
/* FOOTER */
/*
section#footer {*/
/*    .bottombad {
        margin-top: -22px;
    }*/
/*}*/
/* DASHBOARD USER */

.header {
    padding: 17px 0 17px 0;
}

.dashboard {
    .containerUser {
        text-align: center;
        clear: both;
        min-height: 0%;
        /*transform: translate(0%, 18%);*/

        h1 {
            font-size: 3em;
        }
        .identifiant {
            /*margin-top: -24px;*/

            margin-bottom: 4em;
            /*100px*/
        }
        input {
            display: block;
            padding: 1.5em 1em 1.5em 0.7em;
            border: none;
            color: rgba(0, 0, 0, 0.8);
            line-height: 1;
            opacity: 1;
            position: relative;
            max-width: 890px;
            width: 100%;
            text-align: left;
            font-size: 1em;
        }
        input:focus,
        .remove_field:focus {
            outline: none;
        }
        .input_field {
            margin-bottom: 10px;
        }
        .input_fields_wrap,
        .input_lang_wrap {
            /*width: 54.7em;*/
            /*display: inline-block;*/

            margin: auto 0 20px;
            line-height: normal;
            text-align: left;
        }
        .cd-popup .cd-popup-container .cd-buttons li {
            float: left;
            width: 100%;
        }
        /*.remove_field {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 66px;
        width: 83px;
        font: bold 1em/4em 'questrial', 'trebuchet MS', 'Tahoma'
        bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma'

        ;
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
        margin: -4.15em -4.3em;
    }
    .remove_field:hover {
        background: #e54040;
    }
    .remove_field:active,
    .remove_field:focus {
        background: #c42f2f;
        outline: 0;
    }
    .remove_field:before {

        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 25px;
        left: -6px;
    }
    .remove_field:hover:before {
        border-right-color: #e54040;
    }
    .remove_field:focus:before,
    .remove_field:active:before {
        border-right-color: #c42f2f;
    }*/
        /*   MEDIA QUERIES

    @media only screen and (max-width: 30em) {
        .input_fields_wrap {
            margin-left: 1em;
            padding-right: 36em;
        }
    }
    @media only screen and (min-width: 30em) and (max-width: 44.75em) {
        .input_fields_wrap {
            margin-left: 1em;
            padding-right: 28em;
        }
        .remove_field {
            margin: -4.15em -5em;
        }
    }
    @media only screen and (min-width: 44.75em) and (max-width: 60em) {
        .input_fields_wrap {
            margin-left: 1em;
            padding-right: 13em;
        }
        .remove_field {
            margin: -4.15em -5em;
        }
    }*/
    }
}
/* MODAL */

.cd-popup {
    /*COMMUN*/

    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    //background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    a {
        color: $blue;
        text-decoration: none;
    }
    .cd-popup-tipsid {
        display: block;
    }
    &.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;
        background-color: rgba(60, 59, 59, 0.46);
    }
    .cd-popup-container {
        position: relative;
        width: 90%;
        max-width: 581px;
        margin: 4em auto;
        background: #FFF;
        border-radius: .25em .25em .4em .4em;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
        /* Force Hardware Acceleration in WebKit */

        -webkit-backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        transition-duration: 0.3s;
        & h3 {
            padding: 3em 1em;
        }
        & .cd-buttons {
            padding-top: 3em;
        }
        & .cd-buttons:after {
            content: "";
            display: table;
            clear: both;
        }
        & .cd-buttons li {
            float: left;
            width: 50%;
        }
        & .cd-buttons a {
            display: block;
            height: 60px;
            line-height: 60px;
            text-transform: uppercase;
            color: #FFF;
            -webkit-transition: background-color 0.2s;
            -moz-transition: background-color 0.2s;
            transition: background-color 0.2s;
        }
        & .cd-buttons li:last-child a {
            background: $blue;
            border-radius: 0 0 0 .25em;
        }
    }
    & .cd-buttons li:first-child a {
        background: rgba(182, 190, 206, 0.43);
        border-radius: 0 0 .25em 0;
    }
    .no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
        background-color: #c5ccd8;
    }
    & .cd-popup-close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
    }
    & .cd-popup-close::before,
    & .cd-popup-close::after {
        content: '';
        position: absolute;
        top: 12px;
        width: 14px;
        height: 3px;
        background-color: #8f9cb5;
    }
    & .cd-popup-close::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 8px;
    }
    & .cd-popup-close::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 8px;
    }
    .no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
        background-color: #fc8982;
    }
    .is-visible .cd-popup-container {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    /*Connection*/

    input#identify {
        width: 60%;
        height: 40px;
    }
    a.cd-popup-tipsid {
        margin-top: -70px;
    }
    /*TIPS*/

    ul.tips {
        // padding-bottom: 3em;
        & li {
            list-style-type: disc;
            text-align: left;
            margin-left: 53px;
            margin-bottom: 11px;
        }
    }
    .cd-popup-idTips .cd-popup-container .cd-buttons li {
        float: left;
        width: 100%;
    }
}
/*================================================================================*/
/* STYLE INPUT LANG */
/*================================================================================*/
/* Default custom select styles */

div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    z-index: 100;
    width: 100%;
    max-width: 500px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.cs-select:focus {
    outline: none;
    /* For better accessibility add a style for this in your skin */
}

.cs-select select {
    display: none;
}

.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Placeholder and selected option */

.cs-select > span {
    padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
    content: '\25BE';
    right: 1em;
}

.cs-select .cs-selected span::after {
    content: '\2713';
    margin-left: 1em;
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
    z-index: 200;
}
/* Options */

.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    visibility: hidden;
}

.cs-skin-elastic.cs-active .cs-options > ul {
    position: absolute;
    visibility: visible;
    background: #fff;
}

.cs-select ul span {
    padding: 1em;
}

.cs-select ul li.cs-focus span {
    background-color: #ddd;
}
/* Optgroup and optgroup label */

.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
    cursor: default;
}

div.cs-skin-elastic {
    background: transparent;
    /*font-size: 1.5em;*/

    font-weight: 700;
    color: #5b8583;
}
/*@media screen and (max-width: 30em) {
    div.cs-skin-elastic {
        font-size: 1em;
    }
}*/

.cs-skin-elastic > span {
    background-color: #fff;
    z-index: 100;
}

.cs-skin-elastic > span::after {
    font-family: 'icomoon';
    //content: '\e005';
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cs-skin-elastic .cs-options {
    overflow: visible;
    background: transparent;
    opacity: 1;
    visibility: visible;
    padding-bottom: 1.25em;
    pointer-events: none;
}

.cs-skin-elastic.cs-active .cs-options {
    pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    background: #fff;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.6s ease-out;
    animation: expand 0.6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
    opacity: 0;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
    transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}
/* Optional delays (problematic in IE 11/Win) */
/*
.cs-skin-elastic.cs-active .cs-options ul li:first-child {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.cs-skin-elastic.cs-active .cs-options ul li:nth-child(2) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.cs-skin-elastic.cs-active .cs-options ul li:nth-child(4) {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

/* with more items, more delays declarations are needed */

.cs-skin-elastic .cs-options span {
    background-repeat: no-repeat;
    background-position: 1.5em 50%;
    background-size: 2em auto;
    padding: 0.8em 1em 0.8em 4em;
}

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
    color: #1e4c4a;
}

.cs-skin-elastic .cs-options .cs-selected span::after {
    content: '';
}

.cs-skin-elastic .cs-options li.flag-france span {
    background-image: url(../img/france.svg);
}

.cs-skin-elastic .cs-options li.flag-brazil span {
    background-image: url(../img/brazil.svg);
}

.cs-skin-elastic .cs-options li.flag-safrica span {
    background-image: url(../img/south-africa.svg);
}

.cs-skin-elastic .cs-options li.flag-argentina span {
    background-image: url(../img/argentina.svg);
}

@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
    }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
    }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
        transform: scale3d(1, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
        transform: scale3d(1, 0.85, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
        transform: scale3d(1, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
/*================================================================================*/
/*================================================================================*/
/*SPINNER*/

.spinner {
    height: 50%;
    width: 50%;
    transform: translate(100%, 100%);
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: $blue;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .feature-content {
        width: 55%;
    }
    #contact .footer .Uzful {
        width: 20%;
    }
}

@media screen and (max-width: 991px) {
    //body{ font-size: 130% }
    .small {
        font-size: x-small;
    }
    //.btnEmpty {font-size: 20px;}
    #intro .wrap {
        margin-top: 49px;
        margin-bottom: 49px;
    }
    #intro img.item {
        margin: 20px 0 -10px;
        width: 183px;
    }
    #intro h1,
    #contact h1 {
        font-size: 2em
    }
    #intro h1 {
        line-height: 1;
    }
    .feature-1,
    .feature-2 {
        margin-bottom: 50px;
    }
    .feature-content {
        width: 80%;
    }
    .footer {
        width: 100%;
        margin-top: 26px;
        position: initial!important;
        transform: initial!important;
    }
    #contact {
        min-height: 50%;
        .footer p.quote {
            font-size: 22px;
            margin-top: 25px;
        }
        .footer .Uzful {
            width: 30%;
        }
        input {
            padding: 1.5em 1em 0.5em 0.7em;
            font-size: 22px;
            margin: 0 0 10px 0;
        }
        .subscribe:after {
            top: 6px;
        }
        .simform ol:before {
            height: 2.15em;
        }
    }
    //BACK USER
    /*    .containerUser{
        //font-size: 80%;
        & input{
            max-width: 86%;
            font-size: 1.3em;
        }
        & .header {
           padding: 0px 0 140px 0;
           font-size: xx-large;
       }
        & p {
           font-size: 1.4em;
       }
    }*/

    //INPUT LANG
    /*.cs-select {
        font-size: 1.3em;
    }*/
}

@media screen and (max-width: 680px) {
    .feature-content {
        width: 60%;
    }
}

@media screen and (max-width: 640px) {
    #intro .description h3 {
        font-size: 20px;
    }
    .feature-content {
        padding: 0;
    }
    #contact {
        padding: 0;
    }
    #contact h1,
    #intro h1 {
        /*font-size:28px;*/
    }
    #contact .footer p.quote {
        font-size: 15px;
        margin-top: 8px;
    }
    .footer {
        margin-top: 0;
    }
    .btnBlue {
        display: none;
    }
    .btnEmpty {
        margin: 40px 0 0 0;
    }
    .description {
        margin-top: -37px;
    }
}

@media screen and (max-width: 465px) {
    /*#intro h1{font-size:40px;margin:100px 0 45px 0}*/

    .feature-content {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .feature-icon {
        display: block;
        margin: 0 auto;
    }
}


//Graph
#lineChart .axis path,
#lineChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#lineChart .x.axis path {
  display: none;
}
#lineChart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

//DashCount
.dashCount{
    #count {
        text-align: center;
    }
}

.cd-popup-option{
    .type {
        text-align: left;
            margin-left: 13%;
            margin-bottom: 3%;
        label{
            display: inline-block;
                font-size: 22px;
        }
        #descript{
             margin-left: 19px;
            font-size: 17px;
    color: #A6A6A6;
        }

        #alertPulse {
            width: 21%;
            height: 11%;
        }
    }
}
