<template name="Dashboard">
    <div class="dashboard container">
          <div class="alert alert-success hidden">
              Votre nouvelle requête est bien prise en compte par Tweet Pulse.
          </div>
         <div class="alert alert-danger hidden">
              Votre requête est mal composé ou vide.
          </div>
                  <div class="header">
                      {{> HeaderConnexion }}
                  </div>
          <div class="row">
              <section class="containerUser col-md-12">
                  <h1>Configurer mon TweetPulse</h1>

                  <div class="input_fields_wrap col-md-12 col-sm-12 col-xs-12">
                      <!--<button class="add_field_button">Add More Fields</button>-->
                      <p>Que souhaitez-vous surveiller aujourd'hui?
                          {{> DashboardTips}}
                      </p>
                      <div class="input_field">
                          <input type="text" class="message" placeholder="RENTRER UNE RECHERCHE ICI">
                      </div>
                  </div>
                  <div class="input_lang_wrap col-md-12 col-sm-12 col-xs-12">
                      <p>En quelle langue ?</p>
                      <div class="lang_field">
                          <select class="cs-select cs-skin-elastic" id="lang" name="lang">
                              <option value="fr" selected="selected">français (Français)</option>
                              <option value="en">anglais (English)</option>
                              <option value="all">N'importe quelle langue</option>
                              <option value="am">amharique (አማርኛ)</option>
                              <option value="ar">arabe (العربية)</option>
                              <option value="bg">bulgare (Български)</option>
                              <option value="bn">bengali (বাংলা)</option>
                              <option value="bo">tibétain (བོད་སྐད)</option>
                              <option value="chr">cherokee (ᏣᎳᎩ)</option>
                              <option value="da">danois (Dansk)</option>
                              <option value="de">allemand (Deutsch)</option>
                              <option value="el">grec (Ελληνικά)</option>
                              <option value="es">espagnol (Español)</option>
                              <option value="fa">farsi (فارسی)</option>
                              <option value="fi">finlandais (Suomi)</option>
                              <option value="gu">gujarātī (ગુજરાતી)</option>
                              <option value="iw">hébreu (עברית)</option>
                              <option value="hi">hindi (हिंदी)</option>
                              <option value="hu">hongrois (Magyar)</option>
                              <option value="hy">arménien (Հայերեն)</option>
                              <option value="in">indonésien (Bahasa Indonesia)</option>
                              <option value="is">islandais (Íslenska)</option>
                              <option value="it">italien (Italiano)</option>
                              <option value="iu">inuktitut (ᐃᓄᒃᑎᑐᑦ)</option>
                              <option value="ja">japonais (日本語)</option>
                              <option value="ka">géorgien (ქართული)</option>
                              <option value="km">khmer (ខ្មែរ)</option>
                              <option value="kn">kannada (ಕನ್ನಡ)</option>
                              <option value="ko">coréen (한국어)</option>
                              <option value="lo">lao (ລາວ)</option>
                              <option value="lt">lituanien (Lietuvių)</option>
                              <option value="ml">malayalam (മലയാളം)</option>
                              <option value="my">birman (မြန်မာဘာသာ)</option>
                              <option value="ne">népalais (नेपाली)</option>
                              <option value="nl">néerlandais (Nederlands)</option>
                              <option value="no">norvégien (Norsk)</option>
                              <option value="or">oriya (ଓଡ଼ିଆ)</option>
                              <option value="pa">panjābī (ਪੰਜਾਬੀ)</option>
                              <option value="pl">polonais (Polski)</option>
                              <option value="pt">portugais (Português)</option>
                              <option value="ru">russe (Русский)</option>
                              <option value="si">cingalais (සිංහල)</option>
                              <option value="sv">suédois (Svenska)</option>
                              <option value="ta">tamoul (தமிழ்)</option>
                              <option value="te">télougou (తెలుగు)</option>
                              <option value="th">thaï (ไทย)</option>
                              <option value="tl">tagalog (Tagalog)</option>
                              <option value="tr">turc (Türkçe)</option>
                              <option value="ur">ourdou (ﺍﺭﺩﻭ)</option>
                              <option value="vi">vietnamien (Tiếng Việt)</option>
                              <option value="zh">chinois (中文)</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <button class="save" type="button">Lancer la recherche</button>
                  </div>
                  <div class="search_history">
                    <div class="current_search">
                      <span class="current_search_title">
                        Recherche en cours :
                      </span>
                      <span class="current_search_content">
                        {{expression}}
                      </span>
                    </div>
                    <ul class="history_list">
                      <span class="history_list_title">Historique de recherches :</span>
                      <li class="history_list_item1"></li>
                      <li class="history_list_item2"></li>
                      <li class="history_list_item3"></li>
                      <li class="history_list_item4"></li>
                      <li class="history_list_item5"></li>
                    </ul>
                  </div>
              </section>
          </div>
      </div>
</template>
