/*****************************************************************************/
/* Dashboard: Style */
/*****************************************************************************/
.dashboard {
}
.search_history {
  display: inline-block;
  margin-top: 40px;

}
.current_search {
  width: 300px;
    background-color: #E1E1E1;
    display: block;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}
.history_list {
  float: right;
    width: 300px;
    background-color: #E1E1E1;
    margin-left: 20px;
    border-radius: 5px;
}
.history_list_title {
  font-weight: bold;
}
.current_search_title {
  font-weight: bold;
}
